name: Tst

on:
  issue_comment:
    types: [created]

jobs:
  echo-secret:
    runs-on: ubuntu-latest

    steps:
      - name: Echo Base64-encoded secret
        env:
          MY_SECRET: ${{ secrets.secreta }}
        run: |
          echo "Base64 Encoded Secret:"
          echo $MY_SECRET | base64
